$primary-color: aquamarine;
$text-primary-color: black;

.slider
{
    position: relative;
    width: 100%;
    height: auto;
    float: left;
}

#container1
{
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    background-image: url(./res/kizveagac.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: 30% 30%;
}

#container2
{
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    background-image: url(./res/tahtapano.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: 30% 40%;
}

#container3
{
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    background-image: url(./res/mavimanzara.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: 30% 30%;
}

#container4
{
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    background-image: url(./res/kızvekumsal.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: 30% 30%;
}

#container5
{
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    background-image: url(./res/adamvetaslar.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: 30% 10%;
}

@media only screen and (max-width: 499px)
{
    body
    {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    header
    {
        width: 100%;
        height: auto;
        background-color: $primary-color;
        float: left;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
    }

    .logo
    {
        float: left;
        margin: 0 20px;

        p
        {
            float: left;
        }

        a
        {
            color: $text-primary-color;
            text-decoration: none;
        }
    }

    nav
    {

        float: left;

        ul
        {
            list-style: none;
        }

        li
        {
            float: left;
            margin-right: 20px;
        }

        a
        {
            color: $text-primary-color;
            text-decoration: none;
        }

        img
        {
            width: 20px;
            height: 20px;
        }
    }

    article
    {
        width: 100%;
        height: auto;
        position: absolute;
        top: 40px;
        left: 0;
    
        img
        {
            border-width: 5px;
            border-color: $primary-color;
            border-style: solid;
            border-radius: 20px;
        }
    }
    
    #mainline
    {
        width: 100%;
        height: auto;
        background-color: $primary-color;
    }

    .line
    {
        width: 100%;
        height: auto;
        float: left;
        margin: 20px 0;
    
        h1
        {
            padding: 20px;
            text-align: center;
            font-size: xx-large;
            float: center;
        }
    
        p
        {
            padding: 20px;
            text-align: center;
            font-size: larger;
            float: left;
        }
    
        img
        {
            width: 90%;
            height: auto;
        }
    }
    
    footer
    {
        float: left;
        position: relative;
    
        p
        {
            margin: 20px;
        }
    }
}

@media only screen and (min-width: 500px) and (max-width: 699px)
{
    body
    {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    header
    {
        width: 100%;
        height: auto;
        background-color: $primary-color;
        float: left;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
    }

    .logo
    {
        float: left;
        margin: 0 20px;

        p
        {
            float: left;
        }

        a
        {
            color: $text-primary-color;
            text-decoration: none;
        }
    }

    nav
    {

        float: right;
        margin: 0 20px;

        ul
        {
            list-style: none;
        }

        li
        {
            margin: 0 20px;
            float: left;
        }

        a
        {
            color: $text-primary-color;
            text-decoration: none;
        }

        img
        {
            width: 20px;
            height: 20px;
        }
    }

    article
    {
        width: 100%;
        height: auto;
        position: absolute;
        left: 0;
        top: 25px;
    
        img
        {
            border-width: 5px;
            border-color: $primary-color;
            border-style: solid;
            border-radius: 20px;
        }
    }
    
    #mainline
    {
        width: 100%;
        height: auto;
        background-color: $primary-color;
    }

    .line
    {
        width: 100%;
        height: auto;
        float: left;
        margin: 20px 0;
    
        h1
        {
            padding: 20px;
            text-align: center;
            font-size: xx-large;
            float: center;
        }
    
        p
        {
            padding: 20px;
            text-align: center;
            font-size: larger;
            float: left;
        }
    
        img
        {
            width: 70%;
            height: auto;
        }
    }
    
    footer
    {
        float: left;
        position: relative;
    
        p
        {
            margin: 20px;
        }
    }
}

@media only screen and (min-width: 700px) and (max-width: 949px)
{
    body
    {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    header
    {
        width: 100%;
        height: auto;
        background-color: $primary-color;
        float: left;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
    }

    .logo
    {
        float: left;
        margin: 0 20px;

        p
        {
            float: left;
        }

        a
        {
            color: $text-primary-color;
            text-decoration: none;
        }
    }

    nav
    {

        float: right;
        margin: 0 20px;

        ul
        {
            list-style: none;
        }

        li
        {
            margin: 0 20px;
            float: left;
        }

        a
        {
            color: $text-primary-color;
            text-decoration: none;
        }

        img
        {
            width: 20px;
            height: 20px;
        }
    }

    article
    {
        width: 100%;
        height: auto;
        position: absolute;
        left: 0;
        top: 25px;
    
        img
        {
            border-width: 5px;
            border-color: $primary-color;
            border-style: solid;
            border-radius: 20px;
        }
    }
    
    #mainline
    {
        width: 100%;
        height: auto;
        background-color: $primary-color;
    }

    .line
    {
        width: 100%;
        height: auto;
        float: left;
        margin: 20px 0;
    
        h1
        {
            padding: 20px;
            text-align: center;
            font-size: xx-large;
            float: center;
        }
    
        p
        {
            padding: 20px;
            text-align: center;
            font-size: larger;
            float: left;
        }

        img
        {
            width: 20%;
            height: auto;
        }

        a
        {
            float: center;
        }
    }
    
    footer
    {
        float: left;
        position: relative;
    
        p
        {
            margin: 20px;
        }
    }
}

@media only screen and (min-width: 950px)
{
    body
    {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    article
    {
        top: 25px;
    }

    header
    {
        width: 100%;
        height: auto;
        background-color: $primary-color;
        float: left;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        //margin-bottom: 10px;
    }

    .logo
    {
        float: left;
        margin: 0 20px;

        p
        {
            float: left;
        }

        a
        {
            color: $text-primary-color;
            text-decoration: none;
        }
    }

    nav
    {

        float: right;
        margin: 0;

        ul
        {
            list-style: none;
        }

        li
        {
            float: left;
            margin: 0 10px;
        }

        a
        {
            color: $text-primary-color;
            text-decoration: none;
        }

        img
        {
            width: 20px;
            height: 20px;
        }
    }

    article
    {
        width: 100%;
        height: auto;
        position: absolute;
        //top: 25px;
        left: 0;

        img
        {
            border-width: 5px;
            border-color: $primary-color;
            border-style: solid;
            border-radius: 20px;
        }
    }

    #mainline
    {
        width: 100%;
        height: auto;
        background-color: $primary-color;
    }

    .line
    {
        width: 100%;
        height: auto;
        float: left;
        margin: 20px 0;

        h1
        {
            padding: 20px;
            text-align: center;
            font-size: xx-large;
            float: center;
        }

        p
        {
            padding: 20px;
            text-align: center;
            font-size: larger;
            float: left;
        }

        img
        {
            margin-left: 10px;
        }
    }

    footer
    {
        float: left;
        position: relative;

        p
        {
            margin: 20px;
        }
    }
}
/*
body
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav
{
    float: left;
    margin: 0;

    li
    {
        margin: 0 10px;
    }
}

@media only screen and (min-width: 200px)
{
    .line img
    {
        width: 90%;
        height: auto;
    }
}

@media only screen and (min-width: 500px)
{
    .line img
    {
        width: 70%;
        height: auto;
    }

    nav
    {
        float: right;
        margin: 0 20px;

        li
        {
            margin: 0 20px;
        }
    }

    article
    {
        top: 25px;
    }
}

@media only screen and (min-width: 700px)
{
    .line img
    {
        width: 50%;
        height: auto;
    }
}

@media only screen and (min-width: 950px)
{
    .line
    {
        img
        {
            width: 20%;
            height: auto;
        }

        a
        {
            float: center;
        }
    }
}

article
{
    top: 25px;
}

header
{
    width: 100%;
    height: auto;
    background-color: aquamarine;
    float: left;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    //margin-bottom: 10px;
}

.logo
{
    float: left;
    margin: 0 20px;

    p
    {
        float: left;
    }

    a
    {
        color: black;
        text-decoration: none;
    }
}

nav
{
    ul
    {
        list-style: none;
    }

    li
    {
        float: left;
    }

    a
    {
        color: black;
        text-decoration: none;
    }

    img
    {
        width: 20px;
        height: 20px;
    }
}

article
{
    width: 100%;
    height: auto;
    position: absolute;
    //top: 25px;
    left: 0;

    img
    {
        border-width: 5px;
        border-color: aquamarine;
        border-style: solid;
        border-radius: 20px;
    }
}

#mainline
{
    width: 100%;
    height: auto;
    background-color: aquamarine;
}

.line
{
    width: 100%;
    height: auto;
    float: left;
    margin: 20px 0;

    h1
    {
        padding: 20px;
        text-align: center;
        font-size: xx-large;
        float: center;
    }

    p
    {
        padding: 20px;
        text-align: center;
        font-size: larger;
        float: left;
    }

    img
    {
        margin-left: 10px;
    }
}

footer
{
    float: left;
    position: relative;

    p
    {
        margin: 20px;
    }
}*/
