/*! base settings */

:root {
  --primary-color: #e67e22;
  --primary-color-1: #e67e22;
  --primary-color-2: #cf711f;
  --primary-color-3: #d35400;
  --gray-1: #111;
  --gray-2: #333;
  --gray-3: #555;

  --dark-primary-color: #ff7f50; /* Coral */
  --dark-primary-color-1: #ff6347; /* Tomato */
  --dark-primary-color-2: #ff4500; /* OrangeRed */
  --dark-primary-color-3: #dc143c; /* Crimson */
  --dark-gray-1: #eee; /* Light gray for text */
  --dark-gray-2: #ccc; /* Medium gray for secondary text */
  --dark-gray-3: #aaa; /* Dark gray for tertiary text */
  --dark-background-color: #222; /* Very dark gray for backgrounds */
  --dark-background-color-1: #333; /* Dark gray for secondary backgrounds */
  --dark-background-color-2: #444; /* Medium dark gray for tertiary backgrounds */
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Rubik', Helvetica, Arial, sans-serif;
  font-size: 62.5%;
  line-height: 1.5;
  color: var(--gray-3);
  background-color: #fff;
}

body.dark {
  color: var(--dark-gray-1);
  background-color: var(--dark-background-color);
}

/*! utils */

.disabled {
  display: none !important;
}

/*! repetitive components */

.button {
  font-family: inherit;
  display: inline-block;
  font-weight: bold;
  line-height: 1;
  text-decoration: none;
  transition: all 0.3s;
  cursor: pointer;
  text-align: center;
}

.theme {
  position: absolute;
  top: 0;
  right: 0;
  /* background-color: #fff; */
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
  color: var(--gray-2);
  cursor: pointer;
  z-index: 999;
  margin: 10px;
  padding: 10px;
  font-size: 20px;
  border: none;
  border-radius: 1000px;
  transition: all 0.3s;
  width: 50px;
  height: 50px;
}

.theme:hover,
.theme:focus {
  /* background-color: rgba(255, 255, 255, 0.9); */
  filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.2));
}

body.dark .theme {
  color: var(--dark-gray-2);
  background-color: var(--dark-background-color-1);
}

/* body.dark .theme:hover,
body.dark .theme:focus {
  filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.2));
} */

.back-to-top {
  position: fixed;
  bottom: 0;
  right: 0;
  /* background-color: #fff; */
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
  color: var(--gray-2);
  cursor: pointer;
  z-index: 999;
  margin: 10px;
  padding: 10px;
  font-size: 20px;
  border: none;
  border-radius: 1000px;
  transition: all 0.3s;
  width: 50px;
  height: 50px;
  text-align: center;
}

body.dark .back-to-top {
  color: var(--dark-gray-2);
  background-color: var(--dark-background-color-1);
}

.banner {
  position: fixed;
  display: flex;
  background-color: #fff;
  border-radius: 1.2rem;
  box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.2);
  padding: 1.2rem;
  gap: 1.2rem;
  align-items: center;
  bottom: 2rem;
  left: 2rem;
  z-index: 100;
}

.banner__text {
  font-size: 1.2rem;
  color: #333;
}

.banner__link {
  color: var(--primary-color);
  text-decoration: underline;
}

.banner__close {
  width: 2.4rem;
  height: 2.4rem;
  background-color: rgb(255, 60, 60);
  color: #ffe0e0;
  border: none;
  border-radius: 9999px;
  box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.2);
  padding: 0.8rem;
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  cursor: pointer;
}
