body
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@media only screen and (max-width: 499)
{
    nav
    {
        float: left;
    }
}

header
{
    width: 100%;
    height: auto;
    background-color: aquamarine;
    float: left;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    /*margin-bottom: 10px;*/
}

.logo
{
    float: left;
    margin: 0 20px;
}

.logo p
{
    float: left;
}

.logo p a
{
    color: black;
    text-decoration: none;
}

nav
{
    float: right;
    margin: 0 20px;
}

nav ul
{
    list-style: none;
}

nav ul li
{
    float: left;
    margin: 0 20px;
}

nav ul li a
{
    color: black;
    text-decoration: none;
}

nav ul li a img
{
    width: 20px;
    height: 20px;
}

article
{
    width: 100%;
    height: auto;
    position: absolute;
    top: 25px;
    left: 0;
}

#mainline
{
    width: 100%;
    height: auto;
    background-color: aquamarine;
}

.line
{
    width: 100%;
    height: auto;
}

.line h1
{
    padding: 20px;
    text-align: center;
    font-size: xx-large;
    float: center;
}

.line p
{
    padding: 20px;
    text-align: center;
    font-size: larger;
    float: left;
}

.line img
{
    margin-left: 10px;
}

footer
{
    float: left;
    position: relative;
}

footer p
{
    margin: 20px;
}

article img
{
    border-width: 5px;
    border-color: aquamarine;
    border-style: solid;
    border-radius: 20px;
}

.line
{
    width: 100%;
    float: left;
    margin: 20px 0;
}
