<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="{{ page.description | default: site.description }}" />
  <meta name="keywords" content="{{ page.keywords | default: site.keywords }}" />
  <link rel="canonical" href="{{ page.canonical_url | default: page.url | absolute_url }}" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap"
  />
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css"
  />
  <link rel="shortcut icon" href="{{ '/assets/favicon.ico' | relative_url }}" type="image/x-icon" />
  <link rel="stylesheet" href="{{ '/base.css' | relative_url }}" />
  {% if page.extra_css %}
    {% for css in page.extra_css %}
      <link rel="stylesheet" href="{{ css | relative_url }}" />
    {% endfor %}
  {% endif %}
  <title>
    {%- if page.title == site.title or page.title == nil -%}
      {{ site.title }}
    {%- else -%}
      {{ page.title }} | {{ site.title }}
    {%- endif -%}
  </title>
</head>
